{% extends "feggystreats/layout.html" %}
{% load static %}

{% block main %}

    <div id="banner">
        <img class="banner" src="{% static 'feggystreats/images/feggystreatsbanner.jpg' %}"> 
    </div>
    <br>
    <div id="index">
        <pre style="text-align: center; color: seashell; font-weight: bold; font-size: larger; margin-left: -125px;">
            Welcome to Feggy's Treats!
            Our homemade treats are baked good to melt your soul, leaving you wanting more.
            Whether enjoying them alone or in the company of others, 
            you'll surely have a smile on as you get your snack on.
            So don't be shy and dive in.
            There's plenty to go around.
        </pre>
        <br>
        <br>
        <pre style="text-align: center; color: seashell; font-weight: bold; font-size: larger; margin-left: -125px;">
            All treats contain eggs. Some may contain nuts.
        </pre>
    </div>

    <div id="store">
        
    </div>

{% endblock %}